* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    padding-left: 300px;
    padding-right: 300px;
    width: 100%;
    box-sizing: border-box; 
}

.header .logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer ul {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}



.firstrow {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 15px;
}

.header {
    position: sticky;
}

.bannertext {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: space-between;
}

.cta {
    background-color: #3882F6;
    max-width: fit-content;
    padding: 0.4em 1.2em;
    border-radius: 10px;
}

/* h2 {
    text-align: center;
    padding: 30px;
} */

.picholder {
    width: 120px;
    height: 120px;
    border:#3882F6 solid;
    border-radius: 9px;
}

.secondrow {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-top:30px;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}

.imgreel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
}

.img-item {
    display: flex;
    color: rgb(98, 98, 98);
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; 
}

.img-item p {
    max-width: 200px;
}

.thirdrow {
    background-color: rgb(238, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify; 
    align-items: center;
    padding-left: 550px;
    padding-right: 550px;
    padding-top:70px;
    padding-bottom: 70px;
    text-align: justify;    
    min-width: 300px;
}

.thirdrow .author {
    align-self: flex-end;
    font-weight: bold;
    text-align: left; 
}

.text {
    gap: 30px;
}

.callta {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textfeld {
    background-color: #3882F6;
    display: flex;
    padding: 30px;
    color: white;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 900px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.callta .cta {
    border: 2px solid white;
    height: 20px;
}